* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.optionlecturers {
    background-color: rgb(24, 230, 17);
}

.form-control {
    align-content: center;
}

.optionstudent {
    background-color: rgb(226, 216, 218);
}

.textarea {
    background-color: burlywood;
}

.card {
    display: flex;
    height: 100%;
    width: 100%;
}

.textarea {
    width: 80%;
}

.card-header {
    background-color: rgb(233, 18, 72);
}

.row {
    margin-top: 15px;
}

.mes {
    color: green;
}